@font-face {
  font-family: 'hacked';
  src: url('../css/font/HACKED.tff');
  font-weight: normal;
  font-style: normal;

}

header {
  background-color: #01b3e1;;
}

header h1 {
  letter-spacing: -2px;
}

section p {
  font-size: 18px;
}

strong {
  font-weight: 500 !important;
}

a {
  font-weight: bold;
}


.hacker {
  font-family: 'hacked';
}
